---
import { Image } from "astro:assets";
import mascotte from "@assets/images/mascotte3.png";
---

<div
  class="group bg-base-100 relative mx-auto -mt-20 grid w-full max-w-min place-items-center pt-32"
  id="cta"
>
  <Image class="-ml-32 w-96" src={mascotte} alt="Crea il tuo sito web" />
  <a
    class="btn btn-primary btn-wide -mt-28 text-xl font-bold text-nowrap uppercase"
    href="/#contacts">Crea il tuo sito web</a
  >
</div>
