---
import Image from "astro/components/Image.astro";
import decapDemo from "@assets/images/decapdemo.png";
import filamentDemo from "@assets/images/filamentdemo.png";
---

<div>
  <h2
    class="mx-auto mt-32 text-center text-3xl font-bold uppercase md:text-4xl"
  >
    Pannello di controllo CMS personalizzato per una facile gestione del tuo
    sito web
  </h2>
  <div class="my-20 text-center text-xl">
    Gestione autonoma dei contenuti: tieni sotto controllo i tuoi contenuti più
    importanti, sempre.
  </div>

  <div class="grid gap-10 md:grid-cols-2">
    <div
      class="group card relative overflow-hidden shadow-md shadow-primary ring ring-primary"
    >
      <div
        class="absolute inset-x-0 bottom-6 z-10 hidden place-items-center group-hover:grid"
      >
        <a
          class="card glass link link-primary px-3 py-2"
          href="https://demo.filamentphp.com/"
          target="_blank"
          rel="noreferrer">Prova la demo</a
        >
      </div>
      <Image
        class="h-full w-full object-cover transition duration-500 group-hover:scale-110"
        src={filamentDemo}
        alt="Filament CMS Demo | Pannello di controllo CMS personalizzato"
      />
    </div>
    <div
      class="group card relative hidden overflow-hidden shadow-md shadow-primary ring ring-primary md:block"
    >
      <div
        class="absolute inset-x-0 bottom-6 z-10 hidden place-items-center group-hover:grid"
      >
        <a
          class="card glass link link-primary px-3 py-2"
          href="https://demo.decapcms.org/"
          target="_blank"
          rel="noreferrer">Prova la demo</a
        >
      </div>
      <Image
        class="h-full w-full object-cover transition duration-500 group-hover:scale-110"
        src={decapDemo}
        alt="Decap CMS Demo | Pannello di controllo CMS personalizzato"
      />
    </div>
  </div>

  <div class="my-20 text-center">
    <a class="btn btn-primary btn-lg font-bold uppercase" href="/#prices"
      >Scegli un pacchetto di sviluppo web</a
    >
  </div>
</div>
