---
import Map from "@components/Map.astro";
import MessageBox from "@components/MessageBox.astro";
import GoogleCalendarButton from "@components/GoogleCalendarButton.astro";
import ContactLinks from "@components/ContactLinks.astro";
---

<div
  class="group relative mt-32 -mb-32 h-full w-full overflow-hidden md:mt-52"
  id="contacts"
>
  <div class="absolute inset-0">
    <Map />
  </div>
  <div class="container mx-auto px-5 py-32 lg:mr-20 lg:ml-auto lg:w-1/2">
    <div class="card glass mt-10">
      <div class="card-body">
        <div class="card text-primary-content space-y-12 bg-transparent p-0">
          <MessageBox />
          <div class="space-y-10">
            <div class="grid place-items-center">
              <GoogleCalendarButton />
            </div>
          </div>
          <ContactLinks />
        </div>
      </div>
    </div>
  </div>
</div>
