---
import Config from "@config/freelance.json";
import Checklist from "@components/Checklist.astro";
---

<div class="card card-sm relative">
  <div
    class="from-primary to-secondary absolute inset-0 top-auto right-1/3 bottom-0 left-auto -z-10 h-1/3 w-1/2 bg-gradient-to-tl opacity-20 blur-3xl lg:top-1/3 lg:right-0"
  >
  </div>
  <div class="card-body relative grid gap-12 lg:grid-cols-3">
    <div class="prose-lg max-w-none lg:col-span-2">
      <h2 class="text-5xl font-bold">
        Siti web su misura per <span>distinguersi</span> dalla concorrenza
      </h2>
      <h3 class="font-bold">
        Non accontentarti di un sito web banale: scegli soluzioni innovative e
        performanti.
      </h3>
      <p>
        Siti Vetrina e Aziendali, ECommerce, Blog, Applicazioni Web e Gestionali
        che <strong>funzionano</strong>, veloci e intuitivi.
      </p>
      <p>
        Non limitarti a soluzioni prefabbricate e riciclate. Fatti progettare la
        soluzione più adatta con un approccio incentrato sulle esigenze del
        cliente e una forte attenzione sia ai dettagli che alla qualità.
      </p>
      <p>
        Integra le funzionalità di cui hai bisogno per raggiungere i tuoi <strong
          >obiettivi</strong
        >, come moduli di contatto, sistemi di pagamento online, blog e molto
        altro.
      </p>
    </div>
    <Checklist
      class=""
      bullets={Config.features.map((feature) => feature.title)}
    />
  </div>
</div>
