---
import Config from "@config/freelance.json";
import PriceCard from "@components/PriceCard.astro";

const supportPrice = Config.prices[Config.prices.length - 1];
---

<div class="space-y-10">
  <h2 class="card-title -mt-20 pb-10 pt-20 text-3xl font-bold" id="prices">
    Pacchetti di sviluppo siti web
  </h2>

  <div class="flex flex-wrap justify-center gap-12">
    {
      Config.prices.map((price, i) => (
        <PriceCard
          {...price}
          background={["secondary", "primary", "accent"][i]}
        />
      ))
    }

    <div class="pt-10 text-center opacity-80">
      <p>
        I prezzi sono da considerarsi una tantum dove non indicato e non
        includono i costi di hosting, dominio e altri servizi terzi.
      </p>
    </div>
  </div>
</div>
