@import "tailwindcss";

@plugin "@tailwindcss/typography";

@import "./daisy.css";

@import "./animations.css";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
  --font-sans: "Chakra Petch", sans-serif;
  --font-mono: "VT323", monospace;

  --breakpoint-print: print;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

:root {
  --swiper-theme-color: var(--colors-base-content) !important;
}

.swiper-pagination-bullet {
  background-color: var(--colors-base-content) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--colors-primary) !important;
}
