@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./embla.css";
@import "./cookiebot.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import "tailwindcss/utilities";

:root {
    --swiper-theme-color: theme('colors.base-content') !important;
    /*
    * --swiper-navigation-color: "#000";
    * --swiper-pagination-color: "#fff"; 
    */
}

.swiper-pagination-bullet {
    background-color: theme('colors.base-content') !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: theme('colors.primary') !important;
}