---
import Layout from "@layouts/Layout.astro";
import image404 from "@assets/images/mdf.gif";

import { Image } from "astro:assets";
---

<Layout title="404 - Pagina Non Trovata" description="Pagina non trovata">
  <div class="container mx-auto pt-6">
    <div class="card">
      <div class="card-body items-center">
        <h2 class="card-title text-5xl font-bold md:text-7xl">
          Pagina Non Trovata
        </h2>
        <Image
          class="mt-6 h-[60vh] w-auto object-cover"
          alt="Maria De Filippi 404"
          src={image404}
        />
      </div>
    </div>
  </div></Layout
>
