---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cookie Policy">
    <div class="pt-20 card">
        <div class="card-body mx-auto prose md:max-w-5xl">
            <script id="CookieDeclaration" src="https://consent.cookiebot.com/19b88f49-c060-4e64-b540-e2356b7d55a8/cd.js" type="text/javascript" async></script>
        </div>
    </div>
</Layout>