---
import Layout from "@layouts/Layout.astro";
import Minesweeper from "@components/Minesweeper.astro";
import MinesweeperPreviewImage from "@assets/images/electrode-minesweeper.png";

const title = "Campo Minato Electrode";
const description = "Gioca a Campo Minato nella versione Electrode, dove le mine sono sostiuite dall'omonimo Pokèmon. Vinci consecutivamente più partite che puoi per arrivare primo in classifica!";
---

<Layout
	title={title}
	description={description}
	ogImage={MinesweeperPreviewImage.src}
	ogAlt="Electrode Minesweeper"
>
	<div class="px-5 md:mx-auto container w-full max-w-5xl">
		<div class="flex justify-center items-center">
			<h1 class="text-center py-12 text-4xl font-bold">{title}</h1>
			<img
				class="inline -ml-2 -mt-1 h-20 w-20"
				alt="Electrode"
				src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/electrode.png"
			/>
		</div>
            
		<div class="text-center">Ripulisci il campo senza far esplodere i 15 Electrode.</div>

		<div class="my-24">
			<Minesweeper />
		</div>

		<div class="space-y-24 my-24">
			<div>
				<h2 class="font-bold text-3xl mb-12">Come si gioca a Campo Minato?</h2>
      
				<div class="prose-lg max-w-none">
					<p>
                Campo Minato (conosciuto anche come Prato Fiorito) è un gioco single player che mette alla prova le tue abilità di ragionamento e strategia. 
                In questa versione speciale, le mine sono sostituite dai Pokémon Electrode: non stuzzicarli o useranno la mossa Esplosione!
					</p>

					<p>
                L'obiettivo è quello di ripulire la griglia di caselle evitando di far esplodere gli Electrode nascosti.
                Dovrai utilizzare la tua logica e le informazioni che hai a disposizione per dedurre la posizione degli Electrode.
					</p>
				</div>
			</div>
			<div>
				<h2 class="font-bold text-3xl mb-12">Suggerimenti</h2>
      
				<div class="prose-lg max-w-none prose-h3:font-bold">
					<h3>Comincia con le caselle ai bordi della griglia</h3>
					<p>Queste caselle hanno solitamente meno probabilità di contenere Electrode.</p>
					<h3>Presta attenzione ai numeri</h3>
					<p>I numeri indicano il numero di Electrode adiacenti a una casella scoperta. Usa questa informazione per dedurne la posizione.</p>
					<h3>Utilizza le bandiere</h3>
					<p>
              Le bandiere <strong>Unown</strong> e <strong>Magnete</strong> servono a contrassegnare le caselle sospette.
              Prova a utilizzarle cliccando con il tasto destro del mouse (o, su touchscreen, tenendo premuto con il dito).
					</p>
				</div>
			</div>
		</div>
	</div>
  
</Layout>