---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Frameworks from "@components/Frameworks.astro";
import ProjectsGallery from "@components/ProjectsGallery.astro";
import Introduction from "@components/Introduction.astro";
import MessageBox from "@components/MessageBox.astro";
import Contacts from "@components/Contacts.astro";
import FeaturedImages from "@components/FeaturedImages.astro";
import Prices from "@components/Prices.astro";
import LaravelDailyTips from "@components/vue/LaravelDailyTips.vue";
import Minesweeper from "@components/Minesweeper.astro";
import NintendoSwitchCTA from "@components/NintendoSwitchCTA.astro";
import Metabee from "@components/Metabee.astro";
import LighthouseTest from "@components/LighthouseTest.astro";
import Map from "@components/Map.astro";
---

<Layout>
	<Hero />
	
	<div class="px-5 mx-auto container space-y-24 pt-32">
		
		<Introduction />

		<Frameworks/>

		<Prices />

		<ProjectsGallery />

		<!-- <FeaturedImages /> -->

	</div>

	<div class="w-full h-full overflow-hidden relative group mt-32 md:mt-52 -mb-32" id="contacts">
		<div class="absolute inset-0">
			<Map />
		</div>
		<div class="px-5 mx-auto lg:ml-auto lg:mr-20 container py-32 lg:w-1/2">
			<div class="card glass mt-10">
				<div class="card-body">
					<div class="card bg-transparent p-0 space-y-12 text-primary-content">
						<MessageBox />
						<Contacts />
					</div>
				</div>
			</div>
		</div>
	</div>

</Layout>
