---
import Layout from "../layouts/Layout.astro";
import Config from "../site.config.js";
import Hero from "../components/Hero.astro";
import Frameworks from "../components/Frameworks.astro";
import Biography from "../components/Biography.astro";
import ProjectsCarousel from "../components/ProjectsCarousel.astro";
import Introduction from "../components/Introduction.astro";
import Features from "../components/Features.astro";
import MessageBox from "../components/MessageBox.astro";
---

<Layout title={Config.title}>
	<Hero />
	<div class="px-5 md:mx-auto container space-y-12 pt-12">
		<Introduction />
		<Frameworks />
		<Features />
		<h2 class="text-3xl font-semibold">I miei progetti</h2>
		<div class="mockup-window bg-neutral">
			<div class="px-4 border-t border-neutral text-neutral-content">
				<ProjectsCarousel />
			</div>
		</div>
		<MessageBox />
		<div class="pt-12">
			<Biography />
		</div>
	</div>
</Layout>
