---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Frameworks from "@components/Frameworks.astro";
import ProjectsGallery from "@components/ProjectsGallery.astro";
import Introduction from "@components/Introduction.astro";
import Features from "@components/Features.astro";
import MessageBox from "@components/MessageBox.astro";
import Contacts from "@components/Contacts.astro";
import FeaturedImages from "@components/FeaturedImages.astro";
import Prices from "@components/Prices.astro";
import LaravelDailyTips from "@components/vue/LaravelDailyTips.vue";
import Minesweeper from "@components/Minesweeper.astro";
import NintendoSwitchCTA from "@components/NintendoSwitchCTA.astro";
import Metabee from "@components/Metabee.astro";
import LighthouseTest from "@components/LighthouseTest.astro";
import Map from "@components/Map.astro";
---

<Layout>
	<Hero />
	
	<div class="px-5 mx-auto container space-y-24 py-32">
		
		<Introduction />

		<Frameworks/>

		<Prices />

		<ProjectsGallery />

		<div class="flex flex-col w-full lg:flex-row pt-20 -mt-20 pb-20" id="contacts">
			<div class="grid flex-grow card bg-neutral rounded-box place-items-center">
				<div class="card-body w-full"><MessageBox /></div>	
			</div> 
			<div class="divider lg:divider-horizontal">O</div> 
			<div class="grid flex-grow card min-h-44 bg-neutral rounded-box place-items-center">
				<div class="card-body w-full"><Contacts /></div>
			</div>
		</div>
	</div>

	<div class="w-full overflow-hidden">
		<Map />
	</div>

</Layout>
