---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Frameworks from "@components/Frameworks.astro";
import ProjectsGallery from "@components/ProjectsGallery.astro";
import Introduction from "@components/Introduction.astro";
import Features from "@components/Features.astro";
import MessageBox from "@components/MessageBox.astro";
import Contacts from "@components/Contacts.astro";
import FeaturedImages from "@components/FeaturedImages.astro";
import Prices from "@components/Prices.astro";
import LaravelDailyTips from "@components/vue/LaravelDailyTips.vue";
import Minesweeper from "@components/Minesweeper.astro";
import NintendoSwitchCTA from "@components/NintendoSwitchCTA.astro";
import Metabee from "@components/Metabee.astro";
import LighthouseTest from "@components/LighthouseTest.astro";
import Map from "@components/Map.astro";
---

<Layout>
	<Hero />
	
	<div class="py-6">
		<Frameworks />
	</div>

	<div class="px-5 mx-auto container space-y-12 pt-12">
		
	</div>
	<div class="px-5 mx-auto container space-y-24 pt-12">
		
		<Introduction />

		<Prices />

		<ProjectsGallery />

		<div class="py-24">
			<div class="card w-full glass" id="contacts">
				<figure><Map /></figure>
				<div class="card-body justify-center space-y-10 mt-4">
					<Contacts />
					<div class="w-full">
						<MessageBox />
					</div>
				</div>
			</div>
		</div>

	</div>

</Layout>
