---
import Layout from "../layouts/Layout.astro";
import Config from "../site.config.js";
import Hero from "../components/Hero.astro";
import Frameworks from "../components/Frameworks.astro";
import Biography from "../components/Biography.astro";
import ProjectsCarousel from "../components/ProjectsCarousel.astro";
import Introduction from "../components/Introduction.astro";
import Features from "../components/Features.astro";
import MessageBox from "../components/MessageBox.astro";
import Contacts from "../components/Contacts.astro";
import FeaturedImages from "../components/FeaturedImages.astro";
import Prices from "../components/Prices.astro";
import LatestPosts from "../components/LatestPosts.astro";
import ScreenSizes from "../components/ScreenSizes.astro";
import LaravelDailyTips from "../components/vue/LaravelDailyTips.vue";
import Minesweeper from "../components/Minesweeper.astro";
---

<Layout>
	<Hero />
	<div class="px-5 md:mx-auto container max-w-5xl space-y-12 pt-12">
		<Introduction />
		<Features />
		<Prices />
		<h2 class="text-3xl font-semibold">I miei progetti</h2>
		<div class="mockup-window bg-neutral text-neutral-content">
			<div class="px-4 border-t border-neutral">
				<ProjectsCarousel />
			</div>
		</div>
		<Frameworks />
		<div class="">
			<FeaturedImages />
		</div>
		<LatestPosts />
		<LaravelDailyTips client:only="vue"/>
		<ScreenSizes />
		<div class="card card-compact">
			<div class="card-body">
				<div class="card-title">
					<h2 class="text-2xl font-semibold -mt-20 pt-20"
						id="minesweeper"
					>
						Electrode Minesweeper
						<img class="inline -ml-2 -mt-1" 
							alt="Electrode"
							src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/electrode.png"/>
					</h2>
				</div>
				<div class="flex justify-center items-center mt-6 pb-12">
					<Minesweeper />
				</div>
			</div>
		</div>
		<div class="w-fit mx-auto">
			<Biography />
			<div class="mt-5 w-full">
				<MessageBox />
			</div>
		</div>
		<div class="my-10">
			<Contacts />
		</div>
	</div>
</Layout>
