---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/partials/home/Hero.astro";
import Frameworks from "@components/partials/home/Frameworks.astro";
import ProjectsGallery from "@components/partials/home/ProjectsGallery.astro";
import Introduction from "@components/partials/home/Introduction.astro";
import Contacts from "@components/partials/home/Contacts.astro";
import Prices from "@components/partials/home/Prices.astro";
---

<Layout>
  <Hero />

  <div class="container mx-auto space-y-24 px-5 pt-32">
    <Introduction />

    <Frameworks />

    <Prices />

    <ProjectsGallery />
  </div>

  <Contacts />
</Layout>
