---
import Layout from "@layouts/Layout.astro";

import *  as mdDoc from "@content/markdown/iubenda-partner.md";

const Content = mdDoc.Content;
---

<Layout title={mdDoc.frontmatter.title} description={mdDoc.frontmatter.description}>
    <div class="px-5 md:mx-auto container w-full max-w-5xl prose prose-lg pt-12">
        <Content />
    </div>
</Layout>