---
import Layout from "@layouts/Layout.astro";

import * as mdDoc from "@content/markdown/iubenda-partner.md";

const Content = mdDoc.Content;
---

<Layout
  title={mdDoc.frontmatter.title}
  description={mdDoc.frontmatter.description}
>
  <div class="container prose prose-lg w-full max-w-5xl px-5 pt-12 md:mx-auto">
    <Content />
  </div>
</Layout>
