---
import Layout from "@layouts/Layout.astro";
import UserCard from "@components/vue/UserCard.vue";

const title = "Pagina Profilo";
---

<Layout
    title={title}   
    description="Visualizza e gestisci le informazioni del tuo profilo"
>
    <div class="px-5 md:mx-auto container w-full max-w-5xl">

        <h1 class="text-center py-12 text-4xl font-bold">{title}</h1>

        <UserCard client:only="vue"/>
        
    </div>
</Layout>