---
import CTA from "@src/components/partials/services/CTA.astro";
import Features from "@src/components/partials/services/Features.astro";
import Hero from "@src/components/partials/services/Hero.astro";
import IncludedServices from "@src/components/partials/services/IncludedServices.astro";
import Support from "@src/components/partials/services/Support.astro";
import Timeline from "@src/components/partials/services/Timeline.astro";
import Layout from "@src/layouts/Layout.astro";

const title = "Servizi di sviluppo web";
const description =
  "Scegli il pacchetto di sviluppo web su misura per te e scopri i servizi base inclusi.";
---

<Layout title={title} description={description}>
  <div
    class="container w-full max-w-5xl overflow-hidden px-5 md:mx-auto lg:overflow-visible"
  >
    <Hero {title} {description} />

    <IncludedServices />

    <Features />

    <Support />
  </div>

  <Timeline>
    <CTA />
  </Timeline>
</Layout>
