---
import { Icon } from "astro-icon/components";
---

<button
  class="btn btn-circle btn-ghost fixed bottom-4 left-4 z-50 hidden uppercase md:bottom-6 md:left-6"
  id="back-to-top"
  title="Torna in cima"
>
  <Icon class="h-6 w-6 stroke-current" name="pixelarticons:corner-right-up" />
</button>

<script>
  const htmlElement = document.querySelector("html");
  const backToTopButton = document.getElementById("back-to-top");

  function checkScroll() {
    if (htmlElement && backToTopButton) {
      if (htmlElement.scrollTop > 100) {
        if (backToTopButton.classList.contains("hidden"))
          backToTopButton.classList.remove("hidden");
      } else {
        backToTopButton.classList.add("hidden");
      }
    }
  }

  function goTop() {
    if (htmlElement) htmlElement.scrollTop = 0;
  }

  if (htmlElement && backToTopButton) {
    document.addEventListener("scroll", checkScroll);
    backToTopButton.onclick = goTop;
  }
</script>
