---
import Config from "../site_config.json";
import profilePic from "@assets/images/IoTramonto.jpg";
---

<div class="card md:card-side bg-neutral shadow-xl w-fit mx-auto">
    <div class="card-body flex-none mx-auto">
        <img class="mask mask-squircle w-40 md:w-48" src={ profilePic.src } alt="Alessandro Talamona" />
    </div>
    <div class="card-body pt-0 md:card-body prose text-neutral-content">
        <p class="">{ Config.biography }</p>
        <div class="card-actions justify-end">
            <a href="/cv" class="btn btn-primary">CV</a>
        </div>
    </div>
</div>