---
import corso from "@assets/images/corso-marketing.png";
import lim from "@assets/images/lim-logo.png";
---

<div class="flex flex-col md:flex-row items-center justify-center space-y-2 md:space-y-0 px-5">
    <div class="w-full max-w-md md:w-1/2 max-h-96 h-full">
        <a href={corso}>
            <img class="w-full object-contain" src={corso.src} alt="Attestato corso marketing Google" />
        </a>
    </div>
    <div class="w-full max-w-md md:w-1/2 max-h-96 h-full p-12">
        <a href="https://www.lim.di.unimi.it/" target="_blank">
            <img class="max-h-72 w-auto mx-auto object-contain" src={lim.src} alt="LIM - Laboratorio di Informatica Musicale" />
        </a>
    </div>
</div>
