---
import FrameworkCard from "@components/FrameworkCard.astro";
import Config from "../site_config.json";
---

<div
  class="mx-auto flex max-w-xl flex-wrap items-center justify-center gap-x-16 gap-y-16 lg:max-w-none"
>
  {
    Config.frameworks.map((framework) => (
      <FrameworkCard
        name={framework.name}
        logo={framework.logo}
        url={new URL(framework.url)}
      />
    ))
  }
</div>
