---
import img1 from '@assets/images/bomb.png';
import img2 from '@assets/images/IoTramonto.jpg';
---
<div>
    <div id="my-gallery" class="flex">
        <a href={img1.src}>
            <img class="h-64 w-64 object-contain" src={img1.src}/>
        </a>
        <a href={img2.src}>
            <img class="h-64 w-64 object-contain" src={img2.src}/>
        </a>
    </div>
</div>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    import 'photoswipe/style.css';

    const lightbox = new PhotoSwipeLightbox({
        gallery: '#my-gallery',
        children: 'a',
        pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>