---
import { Icon } from "astro-icon/components";
import Config from "../site_config.json";
import Checklist from "@components/Checklist.astro";
---
<div class="card card-compact relative">
  <div class="absolute inset-0 top-12 bottom-12 -left-64 bg-gradient-to-tl blur-3xl -z-10 from-primary to-secondary opacity-20"></div>
    <div class="card-body relative grid lg:grid-cols-3 gap-12">
        <div class="prose-lg max-w-none lg:col-span-2">
            <h2 class="text-5xl font-bold">Siti web su misura per distinguersi dalla concorrenza</h2>
            <h3 class="font-bold">Non accontentarti di un sito web banale: scegli la personalizzazione.</h3>
            <p>Siti Vetrina e Aziendali, ECommerce, Blog, Applicazioni Web e Gestionali che <strong>funzionano</strong>, veloci e intuitivi.</p>
            <p>Non creo siti web prefabbricati, ma sviluppo ogni progetto in base alle tue specifiche esigenze e al target di riferimento.
              <br/>
              Integro le funzionalità di cui hai bisogno per raggiungere i tuoi <strong>obiettivi</strong>, come moduli di contatto, sistemi di pagamento online, blog e molto altro.
            </p>
        </div>
        <Checklist class="" bullets={Config.features.map(feature => feature.text)}/>     
    </div>
</div>