---

---
<div class="card card-compact">
    <div class="card-body">
        <div class="prose-lg max-w-none">
            <p>
                Sviluppo siti web per <strong>qualunque tipo di attività e budget</strong>. Riesco a mantenere prezzi molto competivi e <strong>non costringo 
                il cliente a pagare abbonamenti e manutenzioni ricorrenti</strong> grazie alle tecnologie che utilizzo.
            </p>
            <p>
                Oltre ad essere specializzato nello stack TALL (Tailwind, Alpine, Laravel, Livewire), con cui riesco a implementare applicazioni web 
                complesse e gestionali, utilizzo anche Astro, un framework di recente introduzione che permette di ottenere <strong>quello di cui la maggior 
                parte di chi cerca visibilità nel web ha bisogno</strong>: un sito web autonomo ed economico di cui si ha il pieno controllo senza dover essere dipendenti 
                da tariffe molto spesso esagerate per risorse non sfruttate dovute all'utilizzo di CMS come Wordpress in contesti non adatti.
            </p>
            <p>
               Se serve, so creare e gestire anche siti Wordpress.
            </p> 
        </div>     
    </div>
</div>