---
import { Icon } from "astro-icon/components";

export interface Props {
  policyId: string;
}

const { policyId } = Astro.props;
---

<div class="join join">
  <a
    href={`https://www.iubenda.com/privacy-policy/${policyId}`}
    class="join-item iubenda-white no-brand iubenda-noiframe iubenda-embed iubenda-noiframe"
    title="Privacy Policy"
  >
    Privacy Policy
  </a>
  <a class="join-item link link-hover" href="/privacy-policy"
    ><Icon
      class="h-4 w-4 stroke-current pt-1"
      name="pixelarticons:external-link"
    /></a
  >
</div>

<a
  href={`https://www.iubenda.com/privacy-policy/${policyId}/cookie-policy`}
  class="iubenda-white no-brand iubenda-noiframe iubenda-embed iubenda-noiframe"
  title="Cookie Policy">Cookie Policy</a
>
<script type="text/javascript">
  (function (w, d) {
    var loader = function () {
      var s = d.createElement("script"),
        tag = d.getElementsByTagName("script")[0];
      s.src = "https://cdn.iubenda.com/iubenda.js";
      tag.parentNode.insertBefore(s, tag);
    };
    if (w.addEventListener) {
      w.addEventListener("load", loader, false);
    } else if (w.attachEvent) {
      w.attachEvent("onload", loader);
    } else {
      w.onload = loader;
    }
  })(window, document);
</script>
