---
import { posts } from "@data/posts";
import { formatDate } from "../utils";
---
<div class="card">
    <div class="card-body">
        <div class="card-title -mt-20 pt-20" id="latest-posts">Dal Blog</div>
        <div>
            <ul>
            {
                posts.map( post => 
                    <li class="mt-6">
                        <div class="flex flex-col md:flex-row md:space-x-4 md:items-center">
                            <div class="badge badge-secondary badge-outline place-self-end md:place-self-auto w-32">{ formatDate(post.date) }</div>
                            <a href={`/blog/${ post.slug }`}><div class="link text-lg text-primary" set:html={ post.title }></div></a>
                        </div>
                        <div class="ml-4" set:html={ post.excerpt }></div>
                    </li>
                )
            }
            </ul>
        </div>
    </div>
</div>