---
import { posts } from "@data/posts";
import { formatDate } from "../utils";

const { class: className } = Astro.props;
---
<div class:list={[className]}>
    <div class="text-3xl uppercase text-left pt-20 -mt-20 mb-12" id="latest-posts">Dal Blog</div>
    <ul>
        {
            posts.slice(0,4).map( post => 
                <li class="mt-6 flex">
                    <div class="badge badge-secondary badge-lg flex-none">{ formatDate(post.date, 'short') }</div>
                    <div class="ml-5 flex flex-col items-start">
                        <a href={`/blog/${ post.slug }`}><div class="link text-lg text-primary" set:html={ post.title }></div></a>
                        <div class="text-left" set:html={ post.excerpt }></div>
                    </div>
                </li>
            )
        }
    </ul>
</div>