---
import testResult from "@assets/images/lighthouse-test.png";
import { Image } from "astro:assets";
---

<div class="card card-compact w-full md:w-1/2 mx-auto bg-secondary text-secondary-content shadow-xl">
	<figure><Image src={testResult} alt="Lightouse Test" /></figure>
	<div class="card-body">
		<h2 class="card-title">Ottimizzazione. Per Davvero.</h2>
		<p>
            Con piccoli accorgimenti e cura dei dettagli garantisco questi risultati GRATIS e senza plugin.
		</p>
		<div class="card-actions justify-end">
			<a href="https://lighthouse-metrics.com/" target="_blank" class="btn uppercase btn-primary">Testa il tuo sito</a>
		</div>
	</div>
</div>
