---
import testResult from "@assets/images/lighthouse-test.png";

---

<div class="card card-compact w-full md:w-1/2 mx-auto bg-secondary text-secondary-content shadow-xl">
    <figure><img src={testResult} alt="Lightouse Test" /></figure>
    <div class="card-body">
        <h2 class="card-title">Ottimizzazione. Per Davvero.</h2>
        <p>
            Con piccoli accorgimenti e cura dei dettagli garantisco questi risultati GRATIS e senza plugin.
        </p>
        <div class="card-actions justify-end">
            <a href="https://lighthouse-metrics.com/" target="_blank" class="btn btn-primary">Testa il tuo sito</a>
        </div>
    </div>
</div>
