---
import Config from "@config/general.json";
import { Icon } from "astro-icon/components";
import ZightButton from "./ZightButton.astro";

const { IUBENDA_POLICY_ID } = import.meta.env;
---

<div class="h-full w-full">
  <form id="messagebox" netlify name="messagebox" method="POST">
    <div class="space-y-2">
      <input type="hidden" name="form-name" value="messagebox" />
      <textarea
        id="message"
        class="textarea textarea-primary min-h-32 w-full resize-none bg-transparent"
        name="message"
        maxlength="300"
        placeholder={Config.messagebox.placeholder}
        required></textarea>
      <div class="mx-auto mb-4">
        <ZightButton mode="recorder">
          <button type="button" class="btn btn-xs btn-ghost btn-secondary">
            <Icon class="h-4 w-4 opacity-50" name="pixelarticons:camera-add" />
            <span>Allega registrazione</span>
          </button>
        </ZightButton>
      </div>
      <label
        class="input input-primary flex w-full items-center gap-2 bg-transparent"
      >
        <Icon class="h-4 w-4 opacity-50" name="pixelarticons:mail" />
        <input
          type="email"
          id="email"
          name="email"
          class="grow"
          placeholder="Email"
          required
        />
      </label>
      <fieldset class="fieldset">
        <label class="label cursor-pointer justify-start space-x-2">
          <input
            type="checkbox"
            class="checkbox-primary checkbox checkbox-sm"
            id="privacy-check"
          />
          <span class="label-text text-neutral"
            >Ho letto e accetto la <a
              class="link"
              target="_blank"
              rel="noreferrer"
              href={`https://www.iubenda.com/privacy-policy/${IUBENDA_POLICY_ID}`}
              >Privacy Policy</a
            >.</span
          >
        </label>
      </fieldset>
      <div class="card-actions mt-2 justify-center">
        <button
          id="submit-button"
          type="submit"
          class="btn btn-primary disabled:text-primary-content/50 uppercase"
          disabled>Invia</button
        >
      </div>
    </div>
  </form>

  <script>
    import Config from "@config/general.json";

    const form = document.getElementById("messagebox") as HTMLFormElement;
    const messageInput = document.getElementById(
      "message"
    ) as HTMLTextAreaElement;
    const emailInput = document.getElementById("email") as HTMLInputElement;
    const privacyCheckbox = document.getElementById(
      "privacy-check"
    ) as HTMLInputElement;
    const submitButton = document.getElementById(
      "submit-button"
    ) as HTMLButtonElement;

    const isFormFilled = () => {
      return (
        messageInput.value.trim() != "" &&
        emailInput.value.trim() != "" &&
        privacyCheckbox.checked
      );
    };

    const trackGoogleEvent = () => {
      window.gtag &&
        window.gtag("event", "form_submit", {
          form_name: "messagebox",
        });
    };

    const handleError = () => {
      window.notify(Config.messagebox.error, null, "error");
      messageInput.disabled = false;
      emailInput.disabled = false;
      submitButton.disabled = false;
      submitButton.classList.remove("loading");
    };

    const handleSuccess = () => {
      window.notify(Config.messagebox.success, null, "success");
      messageInput.value = "";
      emailInput.value = "";
      submitButton.classList.remove("loading");
      trackGoogleEvent();
    };

    const handleSubmit = (event: SubmitEvent) => {
      event.preventDefault();
      if (isFormFilled()) {
        const data = new FormData(form);
        data.set("message", messageInput.value.trim());
        messageInput.disabled = true;
        emailInput.disabled = true;
        submitButton.disabled = true;
        submitButton.classList.add("loading");
        fetch("/", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: new URLSearchParams(data as any).toString(),
        })
          .then((res) => {
            if (res.status == 200) handleSuccess();
            else handleError();
          })
          .catch((error) => {
            handleError();
          });
      }
    };

    form.addEventListener("input", () => {
      submitButton.disabled = !isFormFilled();
    });
    form.addEventListener("submit", handleSubmit);

    document.addEventListener("videoRecorded", ({ detail }) => {
      const { shareUrl } = detail;
      if (messageInput.value.length > 0) {
        messageInput.value += "\n";
      }
      messageInput.value += `Ho registrato un video messaggio: ${shareUrl}`;
    });
  </script>
</div>
