---
import Config from "@config/general.json";
import { Icon } from "astro-icon/components";

const { IUBENDA_POLICY_ID } = import.meta.env;
---

<div class="h-full w-full">
  <form id="messagebox" netlify name="messagebox" method="POST">
    <input type="hidden" name="form-name" value="messagebox" />
    <textarea
      id="message"
      class="textarea textarea-primary min-h-32 w-full resize-none bg-transparent"
      name="message"
      maxlength="300"
      placeholder={Config.messagebox.placeholder}
      required></textarea>
    <label
      class="input input-bordered input-primary flex items-center gap-2 bg-transparent"
    >
      <Icon class="h-4 w-4 opacity-50" name="pixelarticons:mail" />
      <input
        type="email"
        id="email"
        name="email"
        class="grow"
        placeholder="Email"
        required
      />
    </label>
    <div class="form-control">
      <label class="label cursor-pointer justify-start space-x-2">
        <input
          type="checkbox"
          class="checkbox-primary checkbox checkbox-sm"
          id="privacy_check"
        />
        <span class="label-text text-neutral"
          >Ho letto e accetto la <a
            class="link"
            target="_blank"
            rel="noreferrer"
            href={`https://www.iubenda.com/privacy-policy/${IUBENDA_POLICY_ID}`}
            >Privacy Policy</a
          >.</span
        >
      </label>
    </div>
    <div class="card-actions mt-2 justify-center">
      <button
        id="submitButton"
        type="submit"
        class="btn btn-primary uppercase disabled:text-primary-content/50"
        disabled>Invia</button
      >
    </div>
  </form>
</div>

<script>
  import Config from "@config/general.json";

  const handleError = () => {
    window.notify(Config.messagebox.error, null, "error");
    document.getElementById("message").disabled = false;
    document.getElementById("email").disabled = false;
    document.getElementById("submitButton").disabled = false;
    document.getElementById("submitButton").classList.remove("loading");
  };

  const handleSuccess = () => {
    window.notify(Config.messagebox.success, null, "success");
    document.getElementById("message").value = "";
    document.getElementById("message").value = "";
    document.getElementById("submitButton").classList.remove("loading");
    trackGoogleEvent();
  };

  const trackGoogleEvent = () => {
    window.gtag &&
      window.gtag("event", "form_submit", {
        form_name: "messagebox",
      });
  };

  document
    .getElementById("privacy_check")
    .addEventListener("change", function () {
      if (this.checked) {
        document.getElementById("submitButton").disabled = false;
      } else {
        document.getElementById("submitButton").disabled = true;
      }
    });

  const handleSubmit = (event) => {
    event.preventDefault();
    if (
      document.getElementById("message").value.trim() != "" &&
      document.getElementById("email").value.trim() != "" &&
      document.getElementById("privacy_check").checked
    ) {
      const data = new FormData(document.forms[0]);
      data.set("message", document.getElementById("message").value.trim());
      document.getElementById("message").disabled = true;
      document.getElementById("email").disabled = true;
      document.getElementById("submitButton").disabled = true;
      document.getElementById("submitButton").classList.add("loading");
      fetch("/", {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
        body: new URLSearchParams(data).toString(),
      })
        .then((res) => {
          if (res.status == 200) handleSuccess(res);
          else handleError(res);
        })
        .catch((error) => {
          handleError(error);
        });
    }
  };

  document.forms[0].onsubmit = handleSubmit;
</script>
