---
import metabee from "@assets/images/metabee.png";
import metabeeAttack from "@assets/images/metabee-attack.png";
---

<div class="pb-12 lg:pb-44">
    <div class="hero place-items-center lg:place-items-start h-full lg:h-64 -mt-20 pt-20" id="medabots">
        <div class="hero-content flex-col lg:flex-row-reverse lg:w-full">
            <div class="mr-0 ml-auto sm:-mb-16 lg:mb-20 lg:mr-16 max-w-sm h-48 lg:h-56 lg:mt-8 group relative">
                <a href="/medabots">
                    <img src={metabee} alt="Metabee" class="h-full w-full drop-shadow-2xl transition ease-in-out duration-500 group-hover:-translate-y-1 group-hover:-translate-x-2 group-hover:opacity-0" />
                    <img src={metabeeAttack}  alt="Metabee Attack" class="absolute top-0 inset-x-0 h-full drop-shadow-2xl transition ease-in-out duration-500 opacity-0 scale-75 group-hover:scale-100 group-hover:translate-x-6 group-hover:opacity-100" />
                </a>
            </div>
            <div class="flex flex-col">
                <h2 class="text-5xl font-bold">Medabots</h2>
                <p class="py-6 prose max-w-lg">
                    Tutti gli episodi di Medabots, uno dei primi anime trasmessi su Rai2 nel 2001 che racconta delle avventure di Ikki e Metabee.
                </p>
                <a href="/medabots" class="btn btn-primary lg:place-self-end">Streaming episodi</a>
            </div>
        </div>
    </div>
</div>
       
