---
import UserMenu from "@components/vue/UserMenu.vue";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import Config from "../site_config.json";
import mascotte from "@assets/images/mascotte.svg";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
---

<div class="navbar bg-base-300/50 backdrop-blur-2xl fixed z-50 h-16 font-semibold">
    <div class="navbar-start">
        <div class="dropdown">
            <label class="btn uppercase btn-ghost lg:hidden" tabindex="0">
                <Icon class="h-5 w-5 stroke-current" name="pixelarticons:menu" />
            </label>
            <ul class="menu dropdown-content mt-3 p-2 shadow bg-base-300 rounded-box w-52" tabindex="0">
                <li><a href="/">Home</a></li>
                <li>
                    <a>
                        Widget
                        <!-- <Icon class="h-5 w-5 fill-current" name="pixelarticons:chevron-down" /> -->
                    </a>
                    <ul class="">
                        <li><a href="/#latest-posts">Dal Blog</a></li>
                        <li><a href="/pitch-detection">Pitch Detection</a></li>
                        <!-- <li><a href="/#laravel-tips">Laravel Daily Tips</a></li> -->
                        <li><a href="/#minesweeper">Minesweeper</a></li>
                        <li><a href="/#contatti">Messagebox</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/nintendo-switch/1">Catalogo Nintendo Switch</a>
                </li>
                <li><a href="/medabots">Medabots</a></li>
            </ul>
        </div>
        <a href="/" class="hidden lg:flex btn uppercase btn-ghost normal-case text-xl">
            <div class="h-6 w-8 -mr-1 -mt-1 overflow-hidden">            
                <Image class="h-14 w-8 object-cover object-left" src={mascotte} alt={`${Config.title} | ${Config.subtitle}`}/>
            </div>
            <span class="">{Config.title}</span>
        </a>
    </div>

    <div class="navbar-center hidden lg:flex">
        <ul class="menu text-base menu-horizontal px-1">
            <li class="dropdown">
                <a tabindex="0" class="">
                    Widget
                    <Icon class="h-5 w-5 fill-current" name="pixelarticons:chevron-down" />
                </a>
                <ul tabindex="0" class="dropdown-content bg-base-300 mt-px min-w-max rounded-box menu text-base">
                    <li><a href="/#latest-posts">Dal Blog</a></li>
                    <li><a href="/pitch-detection">Pitch Detection</a></li>
                    <!-- <li><a href="/#laravel-tips">Laravel Daily Tips</a></li> -->
                    <li><a href="/#minesweeper">Minesweeper</a></li>
                    <li><a href="/#contatti">Messagebox</a></li>
                </ul>
            </li>
            <li><a href="/nintendo-switch/1">Catalogo Nintendo Switch</a></li>
            <li><a href="/medabots">Medabots</a></li>
        </ul>
    </div>

    <div class="navbar-end">
       <ThemeSwitcher />
       <UserMenu client:only="vue">
        <Icon class="w-6 h-6 fill-current" name="pixelarticons:user" />
       </UserMenu>
    </div>
</div>