<div class="hero">
    <div class="hero-content flex-col">
        <div class="text-center">
            <h2 class="text-5xl font-bold">Catalogo Nintendo Switch</h2>
            <p class="py-6 prose">
                Esplora il catalogo con tutti i giochi per Nintendo Switch contente le informazioni messe
                a disposizione dalle API di <a class="link" href="https://igdb.com" target="_blank">IGDB</a>.
            </p>
            <div class="form-control">
                <a href="/nintendo-switch/1" class="btn uppercase btn-primary font-semibold w-full max-w-xs mx-auto">Vai al Catalogo</a>
            </div>
        </div>
    </div>
</div>