<div class="diff aspect-[16/9]">
	<div class="diff-item-1">
		<div class="bg-base-200 flex items-center justify-center gap-2">
			<div class="h-max flex flex-col justify-center items-center">
				<div
					class="radial-progress text-success"
					style="--value:100;"
					role="progressbar"
				>
                    100%
				</div>
				<div class="w-min h-0 text-center text-sm mt-2">
                    Performance
				</div>
			</div>
			<div class="h-max flex flex-col justify-center items-center">
				<div
					class="radial-progress text-success"
					style="--value:100;"
					role="progressbar"
				>
                    100%
				</div>
				<div class="w-min h-0 text-center text-sm mt-2">
                    Accessibility
				</div>
			</div>
			<div class="h-max flex flex-col justify-center items-center">
				<div
					class="radial-progress text-success"
					style="--value:100;"
					role="progressbar"
				>
                    100%
				</div>
				<div class="w-min h-0 text-center text-sm mt-2">
                    Best Practices
				</div>
			</div>
			<div class="h-max flex flex-col justify-center items-center">
				<div
					class="radial-progress text-success"
					style="--value:100;"
					role="progressbar"
				>
                    100%
				</div>
				<div class="w-min h-0 text-center text-sm mt-2">SEO</div>
			</div>
		</div>
	</div>
	<div class="diff-item-2">
		<div class="bg-base-200 flex items-center justify-center gap-2">
			<div class="h-max flex flex-col justify-center items-center">
				<div
					class="radial-progress text-error"
					style="--value:54;"
					role="progressbar"
				>
                    37%
				</div>
				<div class="w-min h-0 text-center text-sm mt-2">
                    Performance
				</div>
			</div>
			<div class="h-max flex flex-col justify-center items-center">
				<div
					class="radial-progress text-warning"
					style="--value:53;"
					role="progressbar"
				>
                    53%
				</div>
				<div class="w-min h-0 text-center text-sm mt-2">
                    Accessibility
				</div>
			</div>
			<div class="h-max flex flex-col justify-center items-center">
				<div
					class="radial-progress text-error"
					style="--value:67;"
					role="progressbar"
				>
                    48%
				</div>
				<div class="w-min h-0 text-center text-sm mt-2">
                    Best Practices
				</div>
			</div>
			<div class="h-max flex flex-col justify-center items-center">
				<div
					class="radial-progress text-warning"
					style="--value:58;"
					role="progressbar"
				>
                    61%
				</div>
				<div class="w-min h-0 text-center text-sm mt-2">SEO</div>
			</div>
		</div>
	</div>
	<div class="diff-resizer"></div>
</div>
