<div class="diff aspect-[16/9]">
  <div class="diff-item-1">
    <div class="flex items-center justify-center gap-2 bg-base-200">
      <div class="flex h-max flex-col items-center justify-center">
        <div
          class="radial-progress text-success"
          style="--value:100;"
          role="progressbar"
        >
          100%
        </div>
        <div class="mt-2 h-0 w-min text-center text-sm">Performance</div>
      </div>
      <div class="flex h-max flex-col items-center justify-center">
        <div
          class="radial-progress text-success"
          style="--value:100;"
          role="progressbar"
        >
          100%
        </div>
        <div class="mt-2 h-0 w-min text-center text-sm">Accessibility</div>
      </div>
      <div class="flex h-max flex-col items-center justify-center">
        <div
          class="radial-progress text-success"
          style="--value:100;"
          role="progressbar"
        >
          100%
        </div>
        <div class="mt-2 h-0 w-min text-center text-sm">Best Practices</div>
      </div>
      <div class="flex h-max flex-col items-center justify-center">
        <div
          class="radial-progress text-success"
          style="--value:100;"
          role="progressbar"
        >
          100%
        </div>
        <div class="mt-2 h-0 w-min text-center text-sm">SEO</div>
      </div>
    </div>
  </div>
  <div class="diff-item-2">
    <div class="flex items-center justify-center gap-2 bg-base-200">
      <div class="flex h-max flex-col items-center justify-center">
        <div
          class="radial-progress text-error"
          style="--value:54;"
          role="progressbar"
        >
          37%
        </div>
        <div class="mt-2 h-0 w-min text-center text-sm">Performance</div>
      </div>
      <div class="flex h-max flex-col items-center justify-center">
        <div
          class="radial-progress text-warning"
          style="--value:53;"
          role="progressbar"
        >
          53%
        </div>
        <div class="mt-2 h-0 w-min text-center text-sm">Accessibility</div>
      </div>
      <div class="flex h-max flex-col items-center justify-center">
        <div
          class="radial-progress text-error"
          style="--value:67;"
          role="progressbar"
        >
          48%
        </div>
        <div class="mt-2 h-0 w-min text-center text-sm">Best Practices</div>
      </div>
      <div class="flex h-max flex-col items-center justify-center">
        <div
          class="radial-progress text-warning"
          style="--value:58;"
          role="progressbar"
        >
          61%
        </div>
        <div class="mt-2 h-0 w-min text-center text-sm">SEO</div>
      </div>
    </div>
  </div>
  <div class="diff-resizer"></div>
</div>
