<div class="card">
    <div class="card-body">
        <h2 class="card-title">Prezzi Indicativi</h2>
        <div class="stats bg-primary text-primary-content">
            <div class="stat">
                <div class="stat-title font-semibold">Siti Web Statici</div>
                <div class="stat-value">400-900€</div>
                <div class="stat-actions">
                    <button class="btn btn-xs btn-success">Hosting da 0€</button>
                </div>
            </div>

            <div class="stat">
                <div class="stat-title font-semibold">ECommerce / Gestionali Semplici </div>
                <div class="stat-value">1500€+</div>
                <div class="stat-actions">
                </div>
            </div>

            <div class="stat">
                <div class="stat-title font-semibold">Applicazioni Web Complesse</div>
                <div class="stat-value">5000€+</div>
                <div class="stat-actions">
                </div>
            </div>
        </div>
    </div>
</div>
