---
import { Icon } from "astro-icon/components";
---

<label class="btn btn-ghost swap swap-rotate uppercase">
  <input type="checkbox" data-toggle-theme="halloween,halloween-light" />

  <Icon class="swap-on h-6 w-6" id="sun" name="pixelarticons:sun-alt" />

  <Icon class="swap-on h-6 w-6" id="moon" name="pixelarticons:moon" />
</label>

<script is:inline>
  if (localStorage.getItem("theme") === null) {
    document.documentElement.setAttribute("data-theme", "halloween");
  } else
    document.documentElement.setAttribute(
      "data-theme",
      localStorage.getItem("theme")
    );

  if (localStorage.getItem("theme") === null) {
    document.getElementById("moon").classList.replace("swap-on", "swap-off");
  } else {
    if (localStorage.getItem("theme") == "silk")
      document.getElementById("sun").classList.replace("swap-on", "swap-off");
    else
      document.getElementById("moon").classList.replace("swap-on", "swap-off");
  }
</script>

<script>
  import { themeChange } from "theme-change";
  themeChange();
</script>
