---
import { Icon } from "astro-icon";
---

<label class="swap swap-rotate btn btn-ghost">
    <input type="checkbox" data-toggle-theme="halloween,halloween-light"/>

    <Icon class="swap-on w-6 h-6" name="sun-alt" />

    <Icon class="swap-off w-6 h-6" name="moon" />
</label>

<script>
    import { themeChange } from "theme-change";
    themeChange();
</script>
