---
import { Icon } from "astro-icon/components";

const { id, linkable = true } = Astro.props;
---

<h2 class="-mt-20 pt-20 text-2xl font-semibold" id={id}>
  <a class="cursor-pointer" href={"#" + id}>
    <slot />
    {
      linkable && (
        <span class="hidden opacity-50 hover:opacity-100 sm:inline-block">
          <Icon class="inline h-8" name="pixelarticons:link" />
        </span>
      )
    }
  </a>
</h2>
