---
import { Icon } from 'astro-icon'

const { id, linkable = true } = Astro.props
---

<h2 class="text-2xl font-semibold -mt-20 pt-20" id={id}>
    <span>
        <slot />
        { 
            linkable &&
                <a href={ "#" + id } class="opacity-50 hover:opacity-100 link" >
                    <Icon class="inline h-8" name="pixelarticons:link"/>
                </a>
        }
    </span>
</h2>
