---
import Layout from "./Layout.astro";

const { title } = Astro.props.frontmatter || Astro.props;
---

<Layout title={title}>
    <div class="pt-20 card">
        <div class="card-body px-10 mx-auto prose container lg:max-w-4xl">
            <slot />
        </div>
    </div>
</Layout>

<script>
    const codeTags = [...document.getElementsByTagName('code')];
    codeTags.forEach(code => {
        const aTags = [...code.getElementsByTagName('a')];
        aTags.forEach(a => {
            console.log(a.classList);
            a.classList.add('link','link-secondary');
        });
    });
</script>
