---
import AuthManager from "@components/AuthManager.astro";
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager</title>

    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />

    <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
  </head>

  <body style="min-height: 100vh; min-width: min-content;">
    <AuthManager />

    <script>
      import { adminCheck } from "@lib/auth";

      const loadAdminPanel = () => {
        adminCheck()
          .then((isAdmin) => {
            if (isAdmin) {
              CMS?.registerPreviewStyle("/admin/preview.css");
            } else {
              throw "Unauthorized";
            }
          })
          .catch((error) => {
            window.location.href = "/";
          });
      };

      loadAdminPanel();
      document.addEventListener("loggedIn", () => {
        loadAdminPanel();
      });
    </script>
  </body>
</html>
